# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Server KeyMaster
set sv_licenseKey "cfxk_13dRdBTJBqiu17jD6s3ru_4McqP0"

# Server Host-Name
sv_hostname "LifeCore Server"

# LifeCore FrameWork
start lifecore